* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    color: #636363;
    font-weight: 400;
    line-height: 1.6;
    scroll-behavior: smooth;
}

body {
    position: relative;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 62%;
    margin: 0 auto;
}

.section {
    padding-top: 115px;
}

.bg-linear {
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.btn_click {
    font-size: 15px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    line-height: 1.2;
    padding: 20px 35px;
    transition: all 0.5s;
}

.btn_click:hover {
    background-position: right center;
}

.title p {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #f55f8d;
}

.title h2 {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 800;
    color: #262626;
    margin-bottom: 20px;
}

/* HEADER */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_content #nav {
    display: flex;
    align-items: center;
}

.header_content #nav ul {
    display: flex;
    margin-right: 30px;
}

.header_content #nav ul li {
    padding: 55px 15px;
}

.header_content #nav ul li a {
    color: #070120;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

.header_content #nav span {
    display: inline-block;
}

.header_content #nav ul li i {
    font-size: 9px;
    margin-top: -3px;
    vertical-align: middle;
}

.header_content #nav ul li:hover a {
    color: #f55f8d;
}

.header_content ul li:hover span {
    animation: upToDown 0.3s forwards;
}

/* CAROUSEL */
section.carousel {
    padding-top: 180px;
    background-image: url(../img/pic2.png);
    background-position: top;
    background-size: 100%;
}

.carousel_content {
    display: flex;
    align-items: center;
}

.carousel_content .left_content {
    width: 60%;
}

.carousel_content .left_content .bottom_content p {
    font-size: 18px;
    margin-bottom: 15px;
}

.carousel_content .left_content ul {
    margin-bottom: 20px;
}

.carousel_content .left_content ul li {
    padding: 10px 5px 10px 0;
    font-size: 20px;
}

.carousel_content .left_content ul li i {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    font-weight: 900;
    margin-right: 10px;
}

.carousel_content .right_content {
    width: 40%;
}

.carousel_content .right_content .banner {
    width: 570px;
    margin-left: 50px;
}

.carousel_content .right_content img {
    display: block;
    width: 100%;
}

/* SERVICES */
.services {
    text-align: center;
    background-image: url(../img/bg2.png);
    background-size: cover;
    background-position: top center;
}

.services .service_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}

.services .service_content .services_item {
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    padding: 30px 45px;
    transition: all 0.5s;
}

.services_item img {
    width: 215px;
}

.services_item h3 {
    font-weight: 700;
    font-size: 1.5rem;
    color: #262626;
    margin: 15px 0;
}

.services_item:hover {
    transform: translateY(-20px);
}

/* ABOUT */
.about {
    background-image: url(../img/bg15.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center right;
    overflow: hidden;
    padding-bottom: 85px;
}

.about .about_content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.about_content .left_content {
    width: 60%;
    position: absolute;
    left: -17%
}

.about_content .left_content img {
    width: 100%;
    border-radius: 0 100px 100px 0;
}

.about_content .right_content {
    width: 50%;
}

.about_content .right_content ul {
    margin-bottom: 30px;
    line-height: 2.5;
}

.about_content .right_content p {
    margin-bottom: 15px;
}

.about_content .right_content ul li i {
    font-size: 24px;
    vertical-align: middle;
    margin-right: 10px;
    color: #f55f8d;
}

/* STATS */
section.stats {
    text-align: center;
    padding: 80px 0 50px;
    background-image: url(../img/bg14.png);
    background-position: center;
}

.stats .stats_content {
    display: flex;
}

.stats .stats_content .stats_item {
    width: 25%;
}

.stats .stats_content .stats_item i {
    font-size: 45px;
    color: #fff;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
}

.stats .stats_content .stats_item p:first-of-type {
    font-size: 65px;
    font-weight: 800;
    color: #f55f8d;
    line-height: 1;
}

.stats .stats_content .stats_item p:last-child {
    color: #262626;
    font-size: 18px;
}

/* FEATURE */
section.feature {
    background-image: url(../img/bg2.png);
    background-size: 100%;
    background-position: center;
}

.feature .feature_content {
    display: flex;
}

.feature .feature_content .left_content {
    width: 50%;
    overflow: hidden;
}

.feature_content .left_content .feature_item {
    padding: 0 50px 30px 0;
}

.feature_content .left_content .feature_item:nth-child(2) {
    padding: 0 0 30px 50px;
}

.feature_content .left_content .feature_item .item_content {
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 30px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.feature_item .item_content div {
    padding-left: 25px;
    z-index: 1;
    transition: all 1s;
}

.feature_item .item_content::after {
    content: "";
    position: absolute;
    background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 1s;
}

.feature_item .item_content:hover::after {
    opacity: 1;
}

.feature_content .left_content .feature_item .item_content:hover i,
.feature_item .item_content:hover div {
    color: #fff;
}

.feature_content .left_content .feature_item .item_content i {
    font-size: 80px;
    line-height: 1;
    z-index: 1;
    color: #f55f8d;
    transition: all 1s;
}

.feature_content .left_content .feature_item .item_content h3 {
    font-weight: 800;
    font-size: 1.5rem;
}

.feature .feature_content .right_content {
    width: 50%;
}

.feature_content .right_content div {
    margin-right: -80px;
}

.feature_content .right_content img {
    max-width: 100%;
    animation: move2 5s infinite;
}

/* PORTFOLIO */
section.portfolio {
    text-align: center;
    background-image: url(../img/bg17.png);
    background-position: top center;
    background-size: cover;
    overflow: hidden;
}

.portfolio .portfolio_content {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    gap: 30px;
}

.portfolio_content .portfolio_item.portfolio_item1,
.portfolio_content .portfolio_item.portfolio_item5 {
    grid-column: 1 / 3;
}

.portfolio_content .portfolio_item.portfolio_item6 {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.portfolio_content .portfolio_item {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.portfolio_item::before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .3) 100%);
    display: block;
    transform: skewX(-25deg);
    transition: all 0.5s;
}

.portfolio_item:hover::before {
    left: 125%;
}

.portfolio_content .portfolio_item img {
    width: 100%;
    height: 100%;
}

.portfolio_content .portfolio_item .overlay_img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 0;
    transition: 0.5s;
}

.portfolio_content .portfolio_item:hover .overlay_img {
    opacity: 1;
}

.portfolio_item .overlay_img a {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    line-height: 50px;
    color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    transform: translate(20px, -20px);
    transition: all 0.5s;
}

.portfolio_item:hover .overlay_img a {
    transform: translate(0);
}

.portfolio_item .overlay_img .text {
    position: absolute;
    left: 20px;
    bottom: 20px;
    text-align: left;
    transform: translateY(125%);
    transition: 0.5s;
}

.portfolio_item .overlay_img .text h3 {
    font-size: 22px;
    font-weight: 800;
    color: #fff;
}

.portfolio_item .overlay_img .text p {
    color: #fff;
    opacity: 0.7;
}

.portfolio_item:hover .overlay_img .text {
    transform: translate(0);
}


/* PLAN */
section.plan {
    text-align: center;
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: center;
}

.plan .plan_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    gap: 30px;
}

.plan_content .plan_item {
    padding: 35px 60px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
    border-image: 100 round;
    transition: all .5s;
}

.plan_content .plan_item:hover {
    border-image: url(../img/br.png) 1 round;
}

.plan_content .plan_item h3 {
    font-weight: 700;
    color: #262626;
    font-size: 32px;
}

.plan_content .plan_item img {
    width: 125px;
}

.plan_content .plan_item p, .plan_content .plan_item li{
    font-size: 18px;
    color: #262626;
    font-weight: 600;
}

.plan_content .plan_item li{
    font-weight: 400;
}

.plan_content .plan_item span {
    color: #f8ae56;
    font-size: 50px;
    font-weight: 800;
}

.plan_content .plan_item ul {
    border-top: 1px solid #e1e1f0;
    padding: 15px 0;
    text-align: left;
}

.plan_content .plan_item ul li {
    padding: 5px 0;
}

.plan_content .plan_item ul li i {
    font-size: 12px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    line-height: 26px;
    text-align: center;
    color: #f55f8d;
    margin-right: 15px;
    background-color: #feeff3;
}

/* TESTIMONIAL */
section.testimonial {
    text-align: center;
    background-image: url(../img/bg17.png);
    background-size: 100%;
    background-position: center;
}

.testimonial-content {
    min-height: 300px;
}

.testimonial-thumbs .testimonial-pic img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding: 4px;
    position: relative;
    z-index: 2;
    background-color: #f55f8d;
}

.testimonial-thumbs .testimonial-pic::before{
    width: 15px;
    height: 15px;
    bottom:30px;
}

.testimonial-thumbs .testimonial-pic::after{
    width: 10px;
    height: 10px;
    bottom:0;
}

.testimonial-thumbs .testimonial-pic::before,.testimonial-thumbs .testimonial-pic::after{
    content: "";
    background-color: #f55f8d;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.testimonial-thumbs .testimonial-pic .shape-bx{
    position: relative;
    height: 35px;
    width: 50px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 18px;
    opacity: 0;
    transition: all 1s;
    background-color: #f55f8d;
}

.testimonial-thumbs .testimonial-pic .shape-bx::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../img/pattern12.png);
    background-position: bottom;
    background-size: contain;
    height: 100%;
    width: 100%;
    transition: all 1s;
}

.testimonial-thumbs {
    width: 300px;
    margin: auto;
    height: 170px;
    position: relative;
    overflow: hidden;
}

.testimonial-comment {
    min-height: 300px;
    width: 100%;
    overflow: hidden;
}

.testimonial-comment .swiper-wrapper {
    padding-bottom: 20px;
}

.testimonial-thumbs .testimonial-pic {
    padding: 30px 0 0;
    transition: all 0.5s;
}

.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic {
    padding: 0 0 40px;
}

.testimonial-thumbs .swiper-slide-thumb-active .shape-bx,
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::before,
.testimonial-thumbs .swiper-slide-thumb-active .testimonial-pic::after{
    opacity: 1;
}

.testimonial-text {
    padding: 30px;
    text-align: center;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 10%);
    margin: 20px 100px;
    border-radius: 10px;
    background-color: #fff;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.testimonial-text i {
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 70px;
    color: #f55f8d;
    transform: rotate(-180deg);
}

.testimonial-text p {
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
    padding: 0 15px 15px;
}

.testimonial-position {
    color: #f55f8d;
    margin-bottom: 20px;
}

.testimonial-name {
    font-size: 22px;
    font-weight: 800;
    color: #000;
    line-height: 26px;
    margin-bottom: 5px;
}

.testimonial-content .swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
    bottom: auto;
}

.testimonial-content .swiper-pagination-bullet-active{
    background-color: #f55f8d;
}


/* BLOG */
section.blog {
    text-align: center;
    background-image: url(../img/bg16.png);
    background-size: cover;
    background-position: top center;
    padding-bottom: 50px;
}

.blog .blog_carousel .blog_item {
    text-align: left;
    background: rgba(245, 95, 141, .1);
    border-radius: 8px;
}

.blog_carousel .blog_item .header {
    position: relative;
}

.blog_carousel .blog_item .header img {
    border-radius: 8px;
    width: 100%;
}

.blog_carousel .blog_item .header p {
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    position: absolute;
    bottom: -20px;
    left: 15px;
}

.blog_carousel .blog_item .body {
    padding: 30px 15px 20px 15px;
    line-height: 1.4;
    margin-bottom: 20px;
}

.blog_carousel .blog_item .body h3 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #262626;
}

.blog_carousel .blog_item .footer {
    display: flex;
    align-items: center;
    padding: 15px;
    font-weight: 400;
    font-size: 14px;
    border-top: 1px solid rgba(0, 0, 0, .05);
}

.blog_carousel .blog_item .footer p:first-of-type {
    margin-right: 20px;
}

.blog_carousel .blog_item .footer i {
    font-size: 22px;
    color: #f55f8d;
    vertical-align: sub;
}

/* FOOTER */
footer {
    background-image: url(../img/bg4.png);
    height: auto;
    background-position: center;
    background-color: #0e1b1f;
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 15px;
    position: relative;
}

footer::before {
    content: "";
    background-image: url(../img/pattern2.png);
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer .footer_top {
    padding: 50px 60px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    background-image: url(../img/pattern3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    display: flex;
    position: relative;

    animation-name: fadeInUp;
    animation-duration: 2s;
}

.footer_top .footer_text,
.footer_top .footer_form {
    width: 50%;
}

.footer_top .footer_text h2 {
    font-size: 28px;
    color: #262626;
}

.footer_form form {
    display: flex;
    border-radius: 0.5rem;
    box-shadow: 0 0 60px 0 rgb(0 0 0 / 10%);
}

.footer_form form input {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    background-color: #fff;
    flex: 1 1 auto;
    border-radius: .5rem 0 0 .5rem;
    border: 1px solid #fff;
    transition: 0.5s;
}

.footer_form form input:hover{
    border-color: #f55f8d;
}

.footer_form form button {
    border-radius: 0 .5rem .5rem 0;
    font-size: 20px;

}

.footer_form form button:hover i {
    animation: leftToRight 0.3s;
}

footer .footer_bottom {
    display: flex;
    padding: 70px 0;

    animation-name: fadeIn;
    animation-duration: 5s;
}

footer .footer_bottom .footer_item {
    width: 25%;
}

footer .footer_item a {
    color: #636363;
    font-size: 16px;
    transition: 0.5s;
}

footer .footer_bottom .footer_item li:hover a {
    color: #fff;
}

footer .footer_contact li {
    display: flex;
    align-items: center;
    color: #fff
}

footer .footer_contact i {
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    display: block;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
}

.footer_item li {
    padding: 0.5rem 0;
}

.footer_item i {
    margin-right: 10px;
}

.footer_item h3 {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: #fff;
}

.footer_item h3::before,
.footer_item h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    border-radius: 20px;
    background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
    background-size: 200%;
}

.footer_item h3::before {
    width: 15px;
}

.footer_item h3::after {
    width: 45px;
    left: 20px;
}

.footer_copyRight {
    background-color: #1f343b;
    padding: 10px 0;
    position: relative;
}

.footer_copyRight .content {
    display: flex;
    justify-content: space-between;
    color: #fff
}

.footer_copyRight .content .left_content span {
    color: #f55f8d;
}

.footer_copyRight .right_content a {
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    background-color: rgba(255, 255, 255, .1);
    cursor: pointer;
    transition: all 0.5s;
}

.footer_copyRight .right_content a:hover {
    background-color: #f55f8d;
}

/* BACK TO TOP */
button.backToTop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    background-color: #f55f8d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 800;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s;
}

.backToTop.show {
    visibility: visible;
    opacity: 1;
}

@keyframes upToDown {
    38% {
        transform: translateY(100%);
    }

    50% {
        opacity: 0;
        transform: translateY(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes leftToRight {
    38% {
        transform: translateX(100%);
    }

    50% {
        opacity: 0;
        transform: translateX(-100%);
    }

    51% {
        opacity: 1;
    }
}

@keyframes move2 {
    0% {
        transform: rotate(1deg) translate(2px, 2px);
    }

    50% {
        transform: rotate(-1deg) translate(-2px, -2px);
    }

    100% {
        transform: rotate(1deg) translate(2px, 2px);
    }
}